<!DOCTYPE html>
<html lang="en">

<head>

  <% include partials/template/head.ejs %>
</head>

<body>
<h1>Heoo</h1>
  <!-- Nav Content -->
    <% include partials/template/nav.ejs %>
    <!-- Header Content -->
    <% include partials/template/header.ejs %>
    <% include partials/content/maincontent.ejs %>

        <!-- Footer -->
        <footer>
            <% include partials/template/footer.ejs %>
        </footer>


    <!-- scripts -->
    <% include partials/template/scripts.ejs %>

</body>

</html>
