<!DOCTYPE html>
<html lang="en">

<head>
  <% include partials/template/head.ejs %>
</head>

<body>
  <!-- Nav Content -->
    <% include partials/template/nav.ejs %>
    <!-- Header Content -->
    <% include partials/template/header.ejs %>

        <!-- Footer -->
        <footer>
            
        </footer>


    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Script to Activate the Carousel -->
    <script>
    $('.carousel').carousel({
        interval: false  //5000 //changes the speed
    })
    </script>

</body>

</html>
